html, body {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'Heebo', sans-serif;
}

.dropdown-item {
    cursor: pointer;
}

a , a:hover{
    text-decoration: none !important;
    color: inherit;
}






/*.newReservation #map {*/
/*    height: 80vh;*/
/*    width: 700px;*/
/*}*/

/*.newReservation .point input {*/
/*    width: 300px;*/
/*}*/

.pac-container {
    font-family: 'Heebo', sans-serif;
}

.pac-item-query {
    font-size: 14px;
}

.pac-matched {
    font-weight: normal;
}

.pac-item {
    padding: 5px;
    font-size: 12px;
}

.pac-icon {
    display: none;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
    background-image: none !important;
    height: 0px;
}

